{{ define "main" }}
    {{ if .Site.Params.hero }}
    {{ partial "hero.html" . }}
    {{ end }}

    {{ if .Site.Params.section1 }}
    <a name="section1"></a>
    {{ partial "section1.html" . }}
    {{ end }}

    {{ if .Site.Params.section2 }}
    <a name="section2"></a>
    {{ partial "section2.html" . }}
    {{ end }}

    {{ if .Site.Params.section3 }}
    <a name="section3"></a>
    {{ partial "section3.html" . }}
    {{ end }}

    {{ if .Site.Params.section4 }}
    <a name="section4"></a>
    {{ partial "section4.html" . }}
    {{ end }}

    {{ if .Site.Params.section5 }}
    <a name="section5"></a>
    {{ partial "section5.html" . }}
    {{ end }}

    {{ if .Site.Params.footer }}
    {{ partial "footer.html" . }}
    {{ end }}

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>

    {{ if .Site.Params.sidebar }}
    {{ partial "sidebar.html" . }}
    {{ end }}
    
{{ end }}
